/* Layout */

#main-section {
    width: 25%;
    margin-right: 5%;
    margin-top: 20vh;
}

#timer {
    text-align: center;
    margin-bottom: 10px;   
}

#control-btns {
    text-align: center;
    margin-bottom: 35px;
}

.control-btn {
    margin-right: 15px;
}

#input-elements {
    text-align: center;
}

.control-input {
    margin-bottom: 7px;
}

.input-label {
    width: 90px;
    display: inline-block;
    text-align: left;
}



/* Styles */

#timer {
    font-size: 5rem;
    font-weight: bold;
}